@font-face {
  font-family: Bern;
  src: url("../fonts/bernadette.ttf");
}
@font-face {
  font-family: "SansBold";
  src: url("../fonts/SansBold.otf");
}
@font-face {
  font-family: "SansMedium";
  src: url("../fonts/SansMedium.otf");
}
@font-face {
  font-family: "SansRegular";
  src: url("../fonts/SansRegular.otf");
}
@font-face {
  font-family: "SansThin";
  src: url("../fonts/SansThin.otf");
}
.navbar {
  background-color: #4848483d;
}
.navbar .nav-link {
  font-family: SansMedium;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: black;
}
@media only screen and (min-width: 992px) {
  .navbar .container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.navbar .container .navbar-brand img {
  width: 45px;
}
.navbar .container .navbar-brand span {
  font-family: arial;
  font-size: 1.7rem;
  text-transform: capitalize;
  text-align: left;
  color: #e74c3c;
  margin-left: 12px;
}
.navbar .container .collapse {
  flex-grow: 0;
}
.navbar .container .collapse .navbar-nav .nav-item {
  flex-grow: 1;
}
.navbar .container .collapse .dropdown-menu .nav-item {
  border-bottom: 1px solid #e74c3c !important;
}
.navbar .container .collapse .dropdown-menu .nav-item:last-child {
  border-bottom: none !important;
}

#main {
  background-color: black;
}
#main .container {
  padding-top: 150px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 992px) {
  #main .container {
    padding-top: 190px;
    padding-bottom: 125px;
  }
}
@media only screen and (min-width: 1200px) {
  #main .container {
    padding-top: 225px;
    padding-bottom: 150px;
  }
}
#main .container .text h1, #main .container .text p {
  text-align: center;
  color: white;
}
#main .container .text .text-white {
  text-transform: capitalize;
}
#main .container .text .para {
  margin-top: 25px;
}

#option .container .card {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 65px;
  padding-bottom: 65px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
#option .container .card:hover {
  background-color: #e74c3c;
}
#option .container .card .card-title {
  font-family: SansMedium;
  font-size: 1.4rem;
  text-transform: capitalize;
}
#option .container .card .card-link {
  font-family: SansMedium;
  padding: 10px 22px;
  text-transform: capitalize;
  margin-top: 10px;
  border: 2px solid transparent;
}
#option .container .card .card-link:hover {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
#option .program_container .row .head_title {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #option .program_container .row .head_title {
    text-align: left;
  }
}
#option .program_container .row .middle_border {
  background: url("../img/main-start-end.png") no-repeat center center;
  background-size: 150px;
  height: 60px;
}
@media only screen and (min-width: 992px) {
  #option .program_container .row .middle_border {
    background: url("../img/middle border.png") no-repeat center center;
    background-size: contain;
    height: auto;
  }
}

#video {
  display: none;
}
#video .container {
  padding-top: 130px;
  padding-bottom: 130px;
  background: url("../img/video_bg.png") no-repeat top left;
  background-size: 55% 55%;
}
#video .container .video_wrapper iframe {
  width: 80%;
  height: 610px;
  display: block;
  margin: 0 auto;
}

#training_program {
  background: url("../img/training program.png") no-repeat center center;
  background-color: red;
  background-size: cover;
}
#training_program .container {
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
}
#training_program .container h2 {
  font-family: SansBold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
#training_program .container .cus_btn {
  background-color: white;
  color: #e74c3c;
  font-size: 1.9rem;
  text-transform: uppercase;
  padding: 18px 35px;
  font-weight: bold;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  #training_program .container .cus_btn {
    font-size: 2.4rem;
    padding: 14px 25px;
  }
}
@media only screen and (min-width: 992px) {
  #training_program .container .cus_btn {
    font-size: 3rem;
    padding: 16px 30px;
  }
}
@media only screen and (min-width: 1200px) {
  #training_program .container .cus_btn {
    padding: 18px 35px;
  }
}

#clients .client_container {
  padding-top: 150px;
  padding-bottom: 80px;
}
#clients .client_container .section_heading, #clients .client_container #main .container .text .display-1, #main .container .text #clients .client_container .display-1 {
  text-align: center;
}
#clients .client_container .image_slide {
  height: initial;
  margin-top: 80px;
}
@media only screen and (min-width: 1200px) {
  #clients .client_container .image_slide {
    height: 450px;
    margin-top: initial;
  }
}
@media only screen and (min-width: 1400px) {
  #clients .client_container .image_slide {
    height: 600px;
  }
}
#clients .client_container .image_slide .img_wrapper {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  #clients .client_container .image_slide .img_wrapper {
    position: relative;
    margin-top: 50px;
  }
}
#clients .client_container .image_slide .img_wrapper .img_container {
  margin-bottom: 40px;
}
#clients .client_container .image_slide .img_wrapper .img_container:last-child {
  margin-bottom: 0px;
}
@media only screen and (min-width: 1200px) {
  #clients .client_container .image_slide .img_wrapper .img_container {
    cursor: pointer;
    width: 40%;
    height: 270px;
    position: absolute;
    border: 3px solid black;
    z-index: 100;
    transition: transform 1s;
  }
  #clients .client_container .image_slide .img_wrapper .img_container:nth-child(1) {
    top: 10px;
    left: 8%;
  }
  #clients .client_container .image_slide .img_wrapper .img_container:nth-child(2) {
    top: 20px;
    left: 16%;
  }
  #clients .client_container .image_slide .img_wrapper .img_container:nth-child(3) {
    top: 30px;
    left: 24%;
  }
  #clients .client_container .image_slide .img_wrapper .img_container:nth-child(4) {
    top: 40px;
    left: 32%;
  }
  #clients .client_container .image_slide .img_wrapper .img_container:nth-child(5) {
    top: 50px;
    left: 40%;
  }
  #clients .client_container .image_slide .img_wrapper .img_container:nth-child(6) {
    top: 60px;
    left: 48%;
  }
  #clients .client_container .image_slide .img_wrapper .img_container:nth-child(7) {
    top: 70px;
    left: 56%;
  }
  #clients .client_container .image_slide .img_wrapper .img_container:nth-child(8) {
    top: 80px;
    left: 64%;
  }
}
@media only screen and (min-width: 1200px) and (min-width: 1400px) {
  #clients .client_container .image_slide .img_wrapper .img_container {
    width: 60%;
    height: 425px;
  }
}
@media only screen and (min-width: 1200px) {
  #clients .client_container .image_slide .img_wrapper .img_container:hover {
    transform: translate3d(-300px, 40px, 0px);
  }
}
@media only screen and (min-width: 1400px) {
  #clients .client_container .image_slide .img_wrapper .img_container:hover {
    transform: translate3d(-400px, 40px, 0px);
  }
}
#clients .client_container .image_slide .img_wrapper .img_container img {
  height: 100%;
}
#clients .client_container .texts {
  margin-top: 25px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #clients .brand_container .row > .col-12 > img {
    max-width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  #clients .brand_container .row > .col-12 > img {
    max-width: 600px;
  }
}
#clients .brand_container .brand_wrapper img {
  border-radius: 20px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 992px) {
  #clients .brand_container .brand_wrapper img {
    border-radius: 30px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #clients .brand_container .brand_wrapper img {
    border-radius: 40px;
  }
}

#diet_question .container {
  padding-top: 0px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 1200px) {
  #diet_question .container {
    padding-top: 35px;
    padding-bottom: 135px;
  }
}
#diet_question .container .accordion-item .accordion-button {
  font-family: SansRegular;
  font-size: 1.6rem;
  text-transform: initial;
  text-align: left;
  color: black;
}
#diet_question .container .accordion-item .accordion-button:not(.collapsed) span {
  color: #e74c3c;
}
#diet_question .container .accordion-item .accordion-button::after {
  background-image: url("../icons/accordion/add.png");
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}
#diet_question .container .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("../icons/accordion/minus.png");
}

#fitness_from {
  background: red url("../img/fitness_form_within_bg.png") no-repeat center center;
  background-size: cover;
}
@media only screen and (min-width: 1200px) {
  #fitness_from .container {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #fitness_from .container {
    padding-top: 150px;
  }
}
#fitness_from .container .fitness_wrapper h1,
#fitness_from .container .fitness_wrapper h3 {
  color: white;
}
#fitness_from .container .fitness_wrapper .section_heading, #fitness_from #main .container .fitness_wrapper .text .display-1, #main #fitness_from .container .fitness_wrapper .text .display-1, #fitness_from #main .container .text .fitness_wrapper .display-1, #main #fitness_from .container .text .fitness_wrapper .display-1 {
  font-family: SansBold;
}
#fitness_from .container #excercise_type .btn-group button {
  text-transform: capitalize;
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
  #fitness_from .container #excercise_type .btn-group button {
    padding: 10px 25px;
    font-family: SansMedium;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    color: white;
  }
}
@media only screen and (min-width: 992px) {
  #fitness_from .container #excercise_type .btn-group button {
    padding: 10px 40px;
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 1400px) {
  #fitness_from .container #excercise_type .btn-group button {
    font-size: 2.8rem;
  }
}
#fitness_from .container #excercise_type .btn-group button.active, #fitness_from .container #excercise_type .btn-group button:hover {
  color: black !important;
}
#fitness_from .container #excercise_type #content_container {
  margin-top: 100px;
}
#fitness_from .container #excercise_type #content_container .texts p {
  margin-top: 40px;
}
@media only screen and (min-width: 1200px) {
  #fitness_from .container #excercise_type #content_container .texts p {
    line-height: 1.8rem;
  }
}
#fitness_from .container #excercise_type #content_container .images img {
  max-width: 500px;
}

.section_heading, #main .container .text .display-1 {
  font-family: Bern;
  font-size: 5rem;
  text-transform: capitalize;
}
@media only screen and (min-width: 992px) {
  .section_heading, #main .container .text .display-1 {
    font-size: 6.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .section_heading, #main .container .text .display-1 {
    font-size: 7.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SansBold;
}

a,
img,
span,
i {
  display: inline-block;
  color: black;
}

.para {
  font-family: SansMedium;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: left;
  color: black;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.headerstyle {
  font-family: Bern;
}

.container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.heading_sm, .heading_md {
  font-family: SansBold;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
}

.heading_md {
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
