#eatALot {
    background: url("../img/background_sm.png") no-repeat center center;
    background-size: cover;
    // responsive 
    @include resp ($md) {
        background-image: url('../img/background_xxl.png');
    }
    .container {
        // responsive 
        @include resp ($lg) {
            padding-top: 135px;
            padding-bottom: 135px;
        }
        .row {
            .heading_sm {
                font-size: 3rem;
                color: black;
                span {
                    color: $fifty_red;
                }
            
            }
            .para {
                    color: white;
                    mix-blend-mode: difference;
                }
        }
    }
}
