#getStarter {
    background-color: white;
    .container {
        .head_text {
            .color {
                color: $fifty_red;
            }
            .para {
                text-align: center;
                font-size: 1.8rem;
            }
        }

        .row {
            margin-top: 90px;
            .col-12 {
                cursor: pointer;
                transition: box-shadow 0.5s ease-in-out;
                &:hover {
                    box-shadow: -3px -5px 40px #00000057, 3px 5px 40px #00000057;
                }
                .heading_md {
                    text-transform: uppercase;
                    color: black;
                    span {
                        color: $fifty_red;
                    }
                }
            }
        }
    }
}
