#main {
    background-color: black;
    .container {
        @include padY(150px, 80px);

        @include resp ($lg) {
            @include padY (190px, 125px);
        }

        @include resp ($xl) {
            @include padY (225px, 150px);
        }
        .text {
            // common style 
            h1, p {
                text-align: center;
                color: white;
            }
            .display-1 {
                @extend .section_heading;
            }
            .text-white {
                text-transform: capitalize;
            }

            .para {
                margin-top: 25px;
            }

        }
    }
}
