#training_program {
    background: url('../img/training\ program.png') no-repeat center center;
    background-color: red;
    background-size: cover;
    .container {
        @include padY(150px, 100px);
        text-align: center;
        h2 {
            @include fonts (SansBold, 2rem, uppercase, center, white);
        }
        .cus_btn {
            background-color: white;
            color: $fifty_red;
            font-size: 1.9rem;

            text-transform: uppercase;
            padding: 18px 35px;
            font-weight: bold;
            margin-top: 40px;
            // responsive 
            @include resp ($md) {
                font-size: 2.4rem;
                padding: 14px 25px;
            }
            @include resp ($lg) {
                font-size: 3rem;
                padding: 16px 30px;
            }
            @include resp ($xl) {
                padding: 18px 35px;
            }
        }
    }
}