#training_program {
    background: url('../img/training\ program.png') no-repeat center center;
    background-color: red;
    background-size: cover;
    .container {
        @include padY(150px, 100px);
        text-align: center;
        h2 {
            @include fonts (SansBold, 2rem, uppercase, center, white);
        }
    }
}