@import "variableMixing";
@import "fonts";
@import "header";
@import "main";
@import "option";
@import "video";
@import "trainingProgram";
@import "ourClients";
@import "qusAnswer";
@import "fitnessFrom";
@import "eatALot";
@import "eatFrequently";
@import "getAmpleFats";
@import "ourProducts";

// variable

.section_heading {
    font-family: Bern;
    font-size: 5rem;
    text-transform: capitalize;
    // responsibve
    @include resp($lg) {
        font-size: 6.5rem;
    }
    @include resp($xl) {
        font-size: 7.5rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: SansBold;
}

a,
img,
span,
i {
    display: inline-block;
    color: black;
}

.para {
    @include fonts();
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.headerstyle {
    font-family: Bern;
}

.container {
    @include padY(80px, 80px);
    @include resp($lg) {
        @include padY(100px, 100px);
    }
    @include resp($xl) {
        @include padY(120px, 120px);
    }
}

.heading_sm {
    @include fonts(SansBold, 2rem, capitalize, center, white);
}

.heading_md {
    @extend .heading_sm;
    font-size: 3rem;
}

.rules_head {
    // responsive
    font-size: 2rem;
    color: black;
    @include resp($sm) {
        font-size: 2.2rem;
    }
    @include resp($xl) {
        font-size: 3rem;
    }
    span {
        color: $fifty_red;
    }
}
