@import "variableMixing";
@import "fonts";
@import "header";
@import "main";
@import 'option';

// variable

.section_heading {
    font-family: Barn;
}

h1, h2, h3, h4, h5, h6 {
    font-family: SansBold;
}


a,
img,
span,
i {
    display: inline-block;
    color: black;
}

.para {
    @include fonts();
    font-size: 1.1rem;
    letter-spacing: 2px;

}

.headerstyle {
    font-family: Bern;
}
